body{
  margin: 0;
}
.container {
  border: 10px solid #b69b4c;
  margin: 0 auto;
  width: 90vh;
  height: 90vh;
  display: grid;
  grid-template-rows: repeat(9, 10vh);
  grid-template-columns: repeat(9, 10vh);
}


#scoreblack{  
  text-align: left;
  font-size: 5vh;
  background-color: #fff;
  color: #444;
  // width: 50vw;
  // display: grid;
}

#scorewhite{  
  text-align: right;
  font-size: 5vh;
  background-color: #444;
  color: #fff;
  // width: 50vw;
  // display: grid;
}

.timer{
  display: inline-block;
}

.item{
  // border: 1px solid blue;
  background: url('../images/lines.png');
  width: 10vmin;
  height: 10vmin;
  background-repeat: no-repeat;
  background-size: cover;
}

.black-marble{
  border-radius: 5vmin;
  background-color: #000;
  border: 1px solid #777;
  height: 5vmin;
  width: 5vmin;
  margin-left: 2.5vh;
  margin-top: 2.5vh;
}

.white-marble{
  border-radius: 5vmin;
  background-color: #fff;
  border: 1px solid #777;
  height: 5vmin;
  width: 5vmin;
  margin-left: 2.5vh;
  margin-top: 2.5vh;
}
