body {
  margin: 0;
}

.container {
  border: 10px solid #b69b4c;
  margin: 0 auto;
  width: 81vh;
  height: 81vh;
  display: grid;
  grid-template-rows: repeat(9, 9vh);
  grid-template-columns: repeat(9, 9vh);
}

#scoreblack {
  display: inline-block;
  line-height: 10vh;
  width: 40%;
  height: 10vh;
  text-align: left;
  font-size: 10vh;
  background-color: #aaa;
  color: #444;
}

#btn {
  display: inline-block;
  line-height: 10vh;
  width: 19.25%;
  height: 10vh;
  text-align: center;
  font-size: 9.20vh;
  background-color: grey;
  color: #000;
  border-radius: 5px;
}
#btn a {
  text-decoration: none;
  color: #000;
}

#scorewhite {
  display: inline-block;
  line-height: 10vh;
  width: 40%;
  height: 10vh;
  text-align: right;
  font-size: 10vh;
  background-color: #aaa;
  color: #fff;
}

.timer {
  display: inline-block;
}

.item {
  background: url("../images/lines.png");
  width: 9vh;
  height: 9vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.black-marble {
  border-radius: 4vh;
  background-color: #000;
  border: 1px solid #777;
  height: 4vh;
  width: 4vh;
  margin-left: 2.5vh;
  margin-top: 2.5vh;
}

.white-marble {
  border-radius: 4vh;
  background-color: #fff;
  border: 1px solid #777;
  height: 4vh;
  width: 4vh;
  margin-left: 2.5vh;
  margin-top: 2.5vh;
}
